   .boxes{
    background-color: red;
    width: 600px;
    height: 400px;
display: flex;
/* justify-content: space-evenly; */
/* align-items: center; */
gap: 20px;
   } 
   .box1{
    background-color: orange;
    width: 100px;
    height: 100px;
align-items: first baseline;
   }